@model IEnumerable<TranMinhDucBTH2.Models.Employee>
<p>
    <a class="btn btn-success" asp-action="Create"> Create a new Employee</a>
</p>
<table class="table table-all">
    <tr>
        <th>EmployeeID</th>
        <th>EmployeeName</th>  
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(m =>item.EmployeeID)</td>
        <td>@Html.DisplayFor(m =>item.EmployeeName)</td>
        <td>
            <a asp-action="Edit" asp-route-id="item.EmployeeID">Sua</a>
            <a asp-action="Delete" asp-route-id="item.EmployeeID">Xoa</a>
        </td>
    </tr>
}
</table>