@model TranMinhDucBTH2.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h4> Sua Thong Tin Customer</h4>
<hr />
<div class ="row">
    <div class="col-md-4">
        <from asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Danh Sach Customer</a>
            </div>
        </from>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
